body {
  background-color: #ccb;
  margin: 0px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.page-areas {
  width: 100%;
  height: 100%;
  top: 0px;
  bottom: 0px;
  border-spacing: 0px;
}

.page-areas td {
  padding-left: 5px;
  padding-right: 5px;
}

.area-toppanel {
  color: white;
  background-color: #444;
  height: 50px;
}

.area-toppanel a:link, .area-toppanel a:visited {
  color: #ef7;
}

.area-footer {
  text-align: right;
}

.area-content {
  height: 100%;
}

.content {
  background-color: whiteSmoke;
  border: solid 1px #665;
  border-radius: 0.5em;
  padding: 0.5em;
  padding-top: 0em;
  margin: 0px auto;
  max-width: 800px;
  height: 100%;
}

.content table {
  border-collapse: collapse;
}

.content table, .content td, .content th {
  padding: 5px;
  border: 1px solid #887;
}



